<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="spring.profiles.active" source="spring.profiles.active"/>

    <root>
        <springProfile name="default">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>
</configuration>
